@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

/* Poetry on the page site grid layout */
#site {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 80px 300px 300px 100px;
}

#header {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 80px;
}

#logo-container {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 50px);
  grid-column: 1;
}

.logo {
  width: 50px;
  height: 20px;
  text-align: center;
  font-family: 'Goudy Bookletter 1900', serif;
  border: 2px solid black;
  padding: 1em; 
}

#on {
  margin-left: 10px;
  margin-top: 10px;
}

#the {
  margin-left: 20px;
}

#page {
  margin-top: 20px;
  margin-left: 25px;
}

form {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  grid-column: 2;
  justify-content: end;
  align-items: center;
}

button {
  background-color: black;
  color: white;
  width: 220px;
  height: 50px;
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
}

button:hover {
  color: #aaa;
}

#magnets {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column: 1;
  grid-template-columns: repeat(8, 101px);
  display: grid;
  text-align: center;
/*  padding: em;*/
}

#extra-magnets {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column: 1;
  grid-template-columns: repeat(8, 101px);
  display: grid;
  text-align: center;
  padding: 1em;
}

footer {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
}

blockquote {
  justify-items: start; 
  text-align: left;
  font-family: 'Goudy Bookletter 1900', serif;
  color: #aaa;
}

#info {
  font-family: 'Inconsolata', monospace;
  color: #aaa;
}
















