@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

/* Poetry on the page logo styling */
.logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: 'Goudy Bookletter 1900', serif;
  border: 2px solid black;
  padding: 10px;
}

#poetry {
  display: flex;
  padding-top: 15px;
}

#of {
  padding-bottom: 10px;
}

#page {
  padding-top: 15px;
}

#logo-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

form {
  display: flex;
  justify-content: flex-end;
  flex-flow: column
  width: 150px;
}

button {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
}

#magnets {
  display: flex;
  justify-content: center;
  height: 300px;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 18px;
}

#extra-magnets {
  display: flex;
  justify-content: center;
  height: 300px;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 18px;
}

hr {
  color: #aaa;
}

blockquote {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  color: #aaa
}

footer {
  display: flex;
  flex-flow: row;
}

#info {
  display: flex;
  font-family: 'Inconsolata', monospace;
  color: #aaa;
  justify-content: flex-end;
}