@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

form {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  font-family: 'Goudy Bookletter 1900', serif;
  font-size: 24px;
}

#magnets {
  display: flex;
  justify-content: center;
  height: 500px;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 18px;
}

hr {
  color: #aaa;
}

footer {
  display: flex;
  font-family: 'Inconsolata', monospace;
  color: #aaa;
  justify-content: flex-end;
}